main{
    max-width: 800px;
}

aside{
    width: 300px;
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 10px;
    background-color: #ccc;
    color: #333;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

main img{
    width: 150px;
    height: auto;
    display: block;
    margin: 1rem auto;
    border: 2px solid #000;
}

p{
    padding: 0;
    margin: 0 0 1rem 0;
    line-height: 1.6;
}

footer{
    text-align: center;
    font-size: 0.9rem;
    color: #666;
    margin: 2rem 0;
}